<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css"> 
</head>
<body>
    <div class="sq">
        
        <form class="container" action="/login" method="post">
        <h2> Personal Library Welcome....</h2>
        <p>Login now!</p>
            <input class="textbox" type="text" name="name" placeholder="Name">
            <input class="textbox" type="password" name="password" placeholder="Password">
            <input type="submit" class="btn-submit" value="Login" style="border:none ;height: 50px;width: 150px;margin: 10px 0;padding: 0 10px;">
            <br>
            <a href="/signup" style="color: aliceblue;">Create a new account</a>
        </form>
    </div>
    
</body>
</html>