<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body>
    <div class="sq">
        <form class="container" action="/signup" method="post">
        <h2>signup...</h2>
        <p>Wellcome..</p>
            <input class="textbox" type="text" name="name" placeholder="Name">
            <input class="textbox" type="password" name="password" placeholder="Password">
            <input class="btn-submit" type="submit" style="border:none ;height: 50px;width: 150px;margin: 10px 0;padding: 0 10px;">
            <a href="/" style="color: aliceblue;">Go back to login page</a>
        </form>
    </div>
</body>
</html>